.areaContainer > h1 {
  background-color: #6BD1FF;
  color: #f5f5f5;
  width: 32%;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.areaContainer {
  display: flex;
  flex-direction: column;
  margin: 3%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.videoContainer {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  column-gap: 20px;
  white-space: nowrap;
  padding: 20px 5px;
}

.videoContainer > div {
  flex: 0 0 32%; /* Inicialmente, três vídeos lado a lado */
  box-sizing: border-box;
  padding-top: 30px;
}

.videoContainer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.videoContainer::-webkit-scrollbar-track {
  background: #0B1528;
  border-radius: 10px;
}

.videoContainer::-webkit-scrollbar-thumb {
  background: #2271d1b2;
  border-radius: 10px;
}

.videoContainer::-webkit-scrollbar-thumb:hover {
  background: #2271d177;
}


@media (max-width: 1024px) {
  .videoContainer > div {
    flex: 0 0 48%; /* Ajusta para um vídeo por linha em telas pequenas */
  }

  .areaContainer {
    padding-top: 3%;
  }

  .areaContainer > h1 {
    align-self: center;
    width: 90%;
  }

  .videoContainer {
    padding-bottom: 5px;
  }
}

@media (max-width: 580px) {
   .videoContainer > div {
    flex: 0 0 100%; /* Ajusta para dois vídeos lado a lado em telas menores */
  }

  .areaContainer {
    padding-top: 20%;
    margin-top: 0;
  }
  
  .areaContainer > h1 {
    width: 75%;
  }

}
