.gContainer {
  display: flex;
  flex-direction: column;
}

.gContainer label {
  display: block;
}

.gContainer select {
  background-color: #262626;
  border: 1px solid lightgray;
  color: lightgray;
  font-size: 20px;
  border-radius: 10px;
  /* width: 500px; */
  /* width: 50%; */
  height: 60px;
}

.placeholderOption {
  color: lightgray;
}