.gContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.gContainer label {
  display: block;
}

.gContainer input {
  background-color: #262626;
  border: 1px solid lightgray;
  color: lightgray;
  caret-color: #f5f5f5;
  font-size: 20px;
  border-radius: 10px;
  width: 99%;
  height: 60px;
  position: relative;
}

.gContainer input::placeholder {
  position: absolute;
  font-size: 20px;
  margin-left: 10px;
}