.gContainer {
  font-family: "Roboto", sans-serif;
  color: #F5F5F5;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  gap: 47px;
  padding: 30px 50px;
}


.gContainerTitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.gContainerTitulo h1 {
  font-size: 60px;
  margin-top: 30px;
}

.gContainerForm {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  justify-content: center;
}

.gContainerForm form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.gContainerForm h2 {
  font-size: 36px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 20px 0px;
  margin-bottom: 40px;
}

.gContainerForm div {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  row-gap: 20px;
  column-gap: 42px;
  justify-content: flex-start;
}

@media (max-width:580px) {
  
  .gContainerForm {
    justify-content: center;
  
  }

  .gContainerForm div {
    justify-content: center;
  }

  .headerContainer {
    display: none;
  }
}